* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #36393f;
  color: #dcddde;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #36393f;
}